{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "react",
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
